.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  display: none;
  &.isOpen{
    display: block;
    .modal-ovarlay{
      opacity: 1;
    }
    .new-modal{
      display: block;
    }
  }
}
.modal-ovarlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0,0,0,.32);
  opacity: 0;
}
.new-modal{
  max-width: 400px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-30%);
  border-radius: 4px;
}
.modal-content{
  padding: 40px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  background: #fff;
  color: rgba(0,0,0,.87);
  padding-bottom: 0;
  h4{
    font-weight: 500;
  }
}
.form-btn{
  justify-content: center;
  display: flex;
}

.btn-submit{
  color: #fff;
  background-color: #673ab7;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  font-weight: 400;
  &:hover{
    color: #fff;
    background-color: #673ab7;
  }
}
.btn-close{
  background-color: #fff;
  color: #000000;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  font-weight: 400;
  border-radius: 4px;
  &:hover{
    background-color: #fff;
    color: #000000;
  }
}

#taskModal{
  max-width: 850px;
  height: 555px;
}