.modal-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
.new-modal{
  max-width: 400px;
  width: 100%;
  /* position: absolute; */
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-10%);
  border-radius: 4px;
}
.modal-content{
  padding: 40px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  background: #fff;
  color: rgba(0,0,0,.87);
}